@{
    Layout = null;
    List<SelectListItem> languageList = (List<SelectListItem>)ViewBag.languageList;
}

<!DOCTYPE html PUBLIC "-/W3C/DTD XHTML 1.0 Transitional/EN" "http:/www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http:/www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
    <meta name="generator" content="Jekyll v4.0.1" />
    <title>INTA Yazılım Yönetim Paneli</title>
    <link href="https:/fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,500&display=swap" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/reset.css")" rel="stylesheet" />


    <link href="@Url.Content("~/css/perfect-scrollbar.v0.5.2.css")" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    <link href="/cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/responsive.css")" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/bbbccbdb78.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/js/validation.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/samples/js/sample.js"></script>
    <!-- Custom styles for this template -->

</head>
<body>

    <div class="singin">
        <div class="container">
            <div class="row">

                <div class="login-container">
                    <div class="container">

                        <div class="login-content">
                            <form id="loginForm" method="post" novalidate>
                                @Html.Hidden("ReturnUrl", (object)ViewBag.ReturnUrl.ToString())
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div style="text-align:center; font-size:16px; border-bottom:solid 1px #DDDDDD">
                                                @*<i class="fas fa-users" style="font-size: 18px;" aria-hidden="true"></i> KULLANICI GİRİŞİ*@
                                                <img src="/images/logo.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row" style="padding: 0 0 0 15px;">
                                        Kullanıcı Adınız
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12"><input type="text" name="UserName" class="form-control" required="required" placeholder="Kullanıcı adı veya e-mail" value="" /></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row" style="padding: 0 0 0 15px;">
                                        Parola
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12"><input type="password" name="Password" class="form-control" required="required" placeholder="Şifreniz" value="" /></div>
                                    </div>
                                </div>
                                @if (languageList != null && languageList.Count > 1)
                                {
                                    <div class="form-group">
                                        <div class="row" style="padding: 0 0 0 15px;">
                                            Dil Seçiniz
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                @(Html.DropDownListForService<LanguageDto,Language>("Language", "Name","Id","LanguageId","",true,"Seçiniz","",
                                            new List<Inta.EntityFramework.Core.DynamicExpression.ExpressionModel>
                                            {
                                            new Inta.EntityFramework.Core.DynamicExpression.ExpressionModel{
                                            ExpressionName = "AktifKayitlar",
                                            MergeOperator = Inta.EntityFramework.Core.DynamicExpression.MergeOperator.None,
                                            Operator = Inta.EntityFramework.Core.DynamicExpression.ExpressionOperators.None,
                                            Item = new List<Inta.EntityFramework.Core.DynamicExpression.ExpressionItem>{
                                            new Inta.EntityFramework.Core.DynamicExpression.ExpressionItem{
                                                MergeOperator = Inta.EntityFramework.Core.DynamicExpression.MergeOperator.None,
                                                Operator = Inta.EntityFramework.Core.DynamicExpression.ExpressionOperators.Equals,
                                                PropertyName = "IsActive",
                                                Value = true
                                            }
                                            }
                                            }
                                            }))

                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-lg-12" style="text-align:left; padding:5px 15px 0 17px">
                                            @Html.CheckBox("createPersistentCookie", false)
                                            <label for="createPersistentCookie"> Oturum açık kalsın</label><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12"><input type="submit" class="btn btn-standart" value="Oturum Aç" style="width:100%;" /></div>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12" style="color:red; font-size:12px;">
                                        <div class="loginMessage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="forget">
                        <div class="container">
                            <div class="form-group">
                                <div class="row">
                                    <a href="/ForgetPassword">Parolanızı mı unuttunuz?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="~/js/general.js"></script>
    <script src="~/js/controller/login.js"></script>
</body>
</html>