@model SystemUserDto
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-content">
    <div class="popupMessage"></div>

    <form id="saveForm" method="post" novalidate>
        @Html.HiddenFor(h => h.Id)
        @Html.HiddenFor(h => h.RecordDate)
        @Html.HiddenFor(h => h.IsAdmin)
        @Html.HiddenFor(h => h.SystemRoleId)



        <div class="form-group">
            <div class="row">
                <div class="col-lg-2">
                    <label for="exampleFormControlInput1">Adı</label>
                </div><div class="col-lg-4">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = "required" })

                </div>

                <div class="col-lg-2">
                    <label for="exampleFormControlInput1">Soyadı</label>
                </div><div class="col-lg-4">
                    @Html.TextBoxFor(m => m.SurName, new { @class = "form-control", @required = "required" })

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-2">
                    <label for="exampleFormControlInput1">Kullanıcı Adı</label>
                </div><div class="col-lg-4">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @required = "required" })

                </div>

                <div class="col-lg-2">
                    <label for="exampleFormControlInput1">Şifre</label>
                </div><div class="col-lg-4">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @required = "required" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-2">
                    <label for="exampleFormControlInput1">E-Mail</label>
                </div><div class="col-lg-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @required = "required" })

                </div>

                <div class="col-lg-2">
                    <label for="exampleFormControlInput1">Telefon</label>
                </div><div class="col-lg-4">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @required = "required" })

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-2">
                    <label for="exampleFormControlInput1">Aktif mi</label>
                </div>
                <div class="col-lg-10">
                    <div class="form-check">
                        @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-check-input" })
                        <label for="IsActive">Evet</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-lg-2">
                    <label for="exampleFormControlInput1">Adres</label>
                </div><div class="col-lg-10">
                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @required = "required" })

                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" id="btnsubmit" class="btn btn-standart">Kaydet</button>
        </div>
    </form>
</div>

@section scripts{
<script src="~/js/controller/account.js"></script>
}
